{{ define "backend/role/index.html" }}
{{ template "backend/public/header.html" .}}


<div class="container-full">
    <div class="row">
        <div class="col-md-2">
            {{template "backend/public/aside.html" .}}
        </div>
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="th">
                            <th>角色名称</th>
                            <th>角色名称</th>
                            <th>角色状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{range $key,$value := .roles}}
                        <tr>
                            <td>{{$value.Title}}</td>
                            <td>{{$value.Description}}</td>
                            <td>{{$value.Status}}</td>
                            <td class="text-center">
                                <a href="/admin/role/edit?id={{$value.Id}}">修改</a>
                                <a class="delete" href="/admin/role/delete?id={{$value.Id}}">删除</a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>

{{end}}