{{ define "backend/login/login.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/backend/css/login.css">
    <script type="text/javascript" src="/static/backend/bootstrap/js/codejquery-1.10.1.js"></script>
    <script type="text/javascript" src="/static/backend/js/login.js"></script>
</head>
<body>
    <div class="container">
        <div id="login">
            <form action="/admin/doLogin" method="post">
                <input type="hidden" name="captchaId">
                <div class="title">数字平台</div>
                <dl>
                    <dd>邮&nbsp;&nbsp;&nbsp;箱：<input class="text" type="text" name="email" ></dd>
                    <dd>密&nbsp;&nbsp;&nbsp;码：<input class="text" type="password" name="password"></dd>
                    <dd>验证码：<input id="verify" type="text" name="code">
                        <img id="captchaImg" src="">
                    </dd>
                    <dd><input type="submit" class="submit" name="dosubmit" value=""></dd>
                </dl>
            </form>
        </div>
    </div>
</body>
</html>

{{end}}
