{{ define "backend/public/header.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="/static/backend/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/backend/css/basic.css">
<script type="text/javascript" src="/static/backend/bootstrap/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/static/backend/js/base.js"></script>

{{end}}