<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://github.com/dezhizhang/electricity" target="_blank">github</a> |
            <a class="link" href="https://weibo.com/u/5354064881/home" target="_blank">新浪微博</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com/people/zhang-de-zhi-5-90/activities" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2018 zhangdezhi.con
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>